[submodule "build"]
	path = build
	url = https://github.com/jkrueger/nrm.git
	branch = develop
[submodule "lib/rev"]
	path = lib/rev
	url = https://github.com/torque-project/rev
[submodule "lib/io"]
	path = lib/io
	url = https://github.com/torque-project/torque.io
	branch = develop
[submodule "lib/reader"]
	path = lib/reader
	url = https://github.com/torque-project/torque.reader
	branch = develop
[submodule "lib/analyzer"]
	path = lib/analyzer
	url = https://github.com/torque-project/torque.analyzer
	branch = develop
[submodule "lib/compiler"]
	path = lib/compiler
	url = https://github.com/torque-project/torque.compiler
	branch = develop
